
@import url('https://fonts.googleapis.com/css?family=Pacifico|Abril+Fatface|Slabo+27px|Roboto|Oldenburg');
#header_hero {
	  background-image: url("http://i.imgur.com/7gonK6m.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: rgba(0,0,0,.9);
    padding-top: 4em;
    padding-right: auto;
    padding-bottom: 4em;
    padding-left: auto;
    width: cover;
	margin: 0em auto;
	font-size: 16px;

}


#slogan {
	font-size: 1em;
	color: #fff;
	text-align: center;
	font-family: Roboto, Arial, sans-serif;
	text-transform: uppercase;
	letter-spacing: .2em;
}
/*
section	{
	background-color: orange;
	width: 200px;
	margin: 2em;
	padding: 1em 1em;
	font-family: "Slabo 27px";
	text-align: center;
	float: left;*/


/*}*/

h1 {
	text-align: center;
	font-family: 'Pacifico', Georgia, serif;
	font-size: 2.8em;
	color: #FFAB2C;
	letter-spacing: .03em;


}

h2	{
	text-align: center;
	font-family: ;
	font-size: 1.5em;
	color: 000;

}


#intro {
		
		font-size: 1em;
		text-align: center;
		font-family: Oldenburg;
		width: 80%;
		margin: auto;

}



.wrapper	{
	width: 84%;
	margin:	3%;
	padding: 5%;
	background-color: #E0E0E0;

}

.intro_box  {
	background-color: #FFAB2C;
	border: .2em solid #E0E0E0;
	width: 22%;
	margin: auto;
/*	padding: 1em 1em;*/
	font-family: "Slabo 27px";
	text-align: center;
	float: left;
}



.clearfix:after	{
	visibility: hidden;
	height: 0;
	font-size: 0;
	content: " ";
	display: block;
	clear: both;

}

.link{
	
	color:#000; 
	text-decoration:none; 
	font-weight: bold; 
	border-bottom: 1px solid #000;

}

img {
    display: block;
    margin: auto;
    width: 20%;
}
