
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Slabo+27px');



header {
    background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

.nav {	background-color: #E8C66A;
}	



#slogan {
	font-size: 16px;
	color: #FFAB2C;
	font-style: italic;
	text-align: center;
	font-family: 'Slabo 27px', serif;
}




h1 {
	text-align: center;
	font-family: 'Abril Fatface', Georgia, serif;
	color: #fff;
	text-transform: uppercase;

}

.picture	{ background-color: #FFC675;
}


p   {
	font-family: 'Slabo 27px', serif;
	color: #f2dfa7;
}



