
body {
    background-image: url("http://i.imgur.com/7gonK6m.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: rgba(0,0,0,.9);
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}


#slogan {
	font-size: 16px;
	color: #FFAB2C;
	font-style: italic;
	text-align: center;
	font-family: 'Roboto Slab', serif;;
}

h1 {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	color: #fff
}

p   {
	font-family: 'Titillium Web', sans-serif;
	color: #f2dfa7;
}

ul  {
	align: center;
}

li	{
	text-align: left;
	font-family: 'Titillium Web', sans-serif;
	color: #f2dfa7
}

.link{
	
	color:#FFAB2C; text-decoration:none; font-weight: bold; 
}

img {
    display: block;
    margin: auto;
    width: 20%;
}